body {
    align-items: center;
    display: flex;
    flex-direction: row;    
    justify-content: center;
    margin-top: 10%;
    text-align: center;
} 

main {
    border: 1px solid #DFDFDF;
    height: 250px;
    padding: 50px;
    width: 450px;
}

.cabecalho{
    align-items: center;
    border-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300;
}

.cabecalho__icon{
    padding-right: 15px;
}

.icon__check{
    height: 30px;
    width: 30px;
}

h1 {
    font-size: 30px;
}


.button__okonly{
    background-color: #1d4350;   
    border: 7px solid #1d4350;
    border-radius: 10px;
    color: #ffffff;
    font-size:16px;
    margin-top: 5%;
    transition: 0.2s;
    width: 150px;
}

.button__okonly:hover {
    background-color: #dedede;
    border: 7px solid #dedede;
    border-radius: 10px;
    color: #1d4350;
    cursor:pointer;
    transition: 0.2s;
}