.form__fornecedor--informacoes {
  margin-top: -12.5px;
  display: flex;
  justify-content: space-between;
  width: 575px;
}

.form__pesquisar--produto{
  display: flex;
  justify-content: space-between;
  width: 415px;
}

.title__listagemProdutos {
  margin-top: 30px;
  margin-bottom: 30px;
}

.title__listagemProdutos i {
  color: #036316;
  cursor: pointer;
  font-size: 25px;
  justify-content: center;
  margin-top: 5px;
}

#icon__search {
  color: #090909;
  cursor: pointer;
  font-size: 25px;
  justify-content: center;
  margin-top: 5px;
}

.form__itens {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 950px;
}

.form__itens input:disabled {
  background-color: #dedede;
  border: 0.1px solid #b4b4b4;
}

.form__itens input:disabled::placeholder {
  color: transparent;
}

.movimentacao__input--xbig {
  font-size: 16px;
  width: 350px;
}

.movimentacao__input--big {
  font-size: 16px;
  width: 225px;
}

.movimentacao__input {
  font-size: 16px;
  width: 150px;
}

.movimentacao__input--small {
  font-size: 16px;
  width: 40px;
}

.movimentacao__input--cpf {
  font-size: 16px;
  width: 200px;
}

.movimentacao__input--cnpj {
  font-size: 16px;
  width: 200px;
}

.movimentacao__button {
  align-items: center;
  display: flex;
  margin-left: -20px;
  margin-top: 45px;
}

.movimentacao__button i {
  color: #03821c;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  justify-content: center;
}

#button__retirar{
  color: #cb0202;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.buttons {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin-top: 180px;
  width: 265px;
}

.button__form--finalizarVenda {
  background-color: #1d4350;
  border: 0.5px solid #1d4350;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  height: 35px;
  width: 125px;
}
