.form__itens {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 950px;
}

.form__itens input:disabled {
  background-color: #dedede;
  border: 0.1px solid #b4b4b4;
}

.form__itens input:disabled::placeholder {
  color: transparent;
}

.movimentacao__button {
  align-items: center;
  display: flex;
  margin-left: -20px;
  margin-top: 45px;
}

.movimentacao__button i {
  color: #03821c;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  justify-content: center;
}

#button__retirar {
  color: #cb0202;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  justify-content: center;
}

.subtotal {
  margin-top: 30px;
  font-weight: 300;
}

.buttons {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin-top: 40px;
  width: 265px;
}

.button__form--emitirOrcamento {
  background-color: #1d4350;
  border: 0.5px solid #1d4350;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  height: 35px;
  width: 125px;
}

#modal__SelectItem, #modal__SelectCliente {
  background-color: #fff;
  border: 0.3px solid #ccc;
  border-radius: 10px;
  left: 50%;
  max-height: 600px;
  max-width: 800px;
  min-height: 225px;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#icon__modal--SelectItem, #icon__modal--SelectCliente {
  color: #ffac1c;
  font-size: 25px;
  margin-top: 18px;
}

#modal__SelectItem, #modal__SelectCliente, #modal__CleartTable h2 {
  font-size: 25px;
  margin-left: 8px;
}

#modal__SelectItem, #modal__SelectCliente, #modal__CleartTable p {
  font-size: 16px;
}

#modal__ClearTable {
  background-color: #fff;
  border: 0.3px solid #ccc;
  border-radius: 10px;
  height: 250px;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 465px;
  z-index: 9999;
}

.modal__header {
  display: flex;
  justify-content: space-between;
}
.modal__header div {
  display: flex;
  justify-content: space-between;
}

#icon__xmark,
#icon__xmark--select, #icon__xmark--selectCliente {
  color: #db1414;
  cursor: pointer;
  font-size: 25px;
}

#icon__modal--ClearTable {
  color: #ffac1c;
  font-size: 25px;
  margin-top: 18px;
}

.buttons__modal {
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.button__modal--confirmar {
  background-color: #dbdbdb;
  border: 0.5px solid #dbdbdb;
  border-radius: 6px;
  color: #000000;
  cursor: pointer;
  height: 35px;
  font-weight: 500;
  width: 125px;
}

.button__modal--cancelar {
  background-color: #e9b3b3;
  border: 0.5px solid #e9b3b3;
  border-radius: 6px;
  color: #db1414;
  cursor: pointer;
  height: 35px;
  font-weight: 500;
  width: 125px;
}

#tabela__produtos, #tabela__clientespj, #tabela__clientespf, #tabela__pecas, #tabela__servicos {
  align-items: center;
  display: flexbox;
  justify-content: center;
  justify-items: center;
}

#tabela__produtos, #tabela__clientespj, #tabela__clientespf, #tabela__pecas, #tabela__servicos thead {
  font-size: 16px;
  width: 100%;
}

#tabela__pecas, #tabela__servicos, #tabela__clientespj, #tabela__clientespf td {
  font-size: 14px;
}

#header:hover {
  background: #fff;
}

#tabela__produtos> tr:not(:first-child):hover {
  background: #ffcc74;
  cursor: pointer;
}

#tabela__clientespj, #tabela__clientespf, #tabela__pecas, #tabela__servicos > tr:not(:first-child):hover {
  background: #ffcc74;
  cursor: pointer;
}

#pesquisarProduto, #pesquisarCliente {
  cursor: pointer;
  height: 32px;
}

#subtotal, #valor{
  text-align: right;
}