.topbar {
  background-color: #1d4350;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.topbar i {
  font-size: 18px;
}

.topbar a {
  text-decoration: none;
}

body {
  background-color: #f7f7f7;
  font-family: "Segoe UI", Arial, sans-serif;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(45deg, #0a5862, transparent);
}

.loader > span {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader > span::before,
.loader > span::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader > span::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #1c8f9e;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.close-loader {
  display: none;
}
.show-loader {
  display: flex;
}

.buttons__cadastro {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin-top: 50px;
  width: 275px;
}

.input__xsmall{
  font-size: 16px;
  width: 50px;
}

.input__small{
  font-size: 16px;
  width: 100px;
}

.input__medium{
  font-size: 16px;
  width: 150px;
}

.input__valor{
  font-size: 16px;
  text-align: right;
  width: 150px;
}

.input__big{
  font-size: 16px;
  width: 250px;
}

.input__xbig{
  font-size: 16px;
  width: 340px;
}
