.titlePage{
  display: flex;
  font-size: 20px;
  width: 400px;
}

.movimentacao {
  float: left;
  font-size: 20px;
  width: 66.66666%;
}

#icon__searchCliente{
  font-size: 20px;
}

#icon__check {
  color: #036316;
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
  margin-top: 5px;
}

#icon__search {
  color: #090909;
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
  margin-top: 5px;
}

.form__search {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 300px;
}

.radio__tipoCliente {
  font-size: 15px;
  margin-top: 10px;
}
.movimentacao__search--content {
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.movimentacao__search--content i {
  font-size: 18px;
}

.movimentacao__search--content h2 {
  font-size: 18px;
  font-weight: 600;
}

.movimentacao__search--content h3 {
  font-size: 16px;
  font-weight: 500;
}

.button__form--cadastrar {
  background-color: #1d4350;
  border: 0.5px solid #1d4350;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  height: 35px;
  width: 125px;
}

.button__form--gerar {
  background-color: #1d4350;
  border: 0.5px solid #1d4350;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  height: 35px;
  width: 125px;
}
.button__form--cancelar {
  background-color: #ce1a14;
  border: 0.5px solid #ce1a14;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  height: 35px;
  width: 125px;
}
.button__form--limpar {
  background-color: #e7aa00;
  border: 0.5px solid #e7aa00;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  height: 35px;
  width: 125px;
}

.basket__table {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.basket__table > div {
  width: 100%;
}

.basket__table > div > table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid #1d4350;
  text-align: center;
}
.basket__table > div > table > tr {
  text-align: center;
}
.basket__table > div > table > thead {
  background-color: #02201f;
  color: #ffffff;
}

.basket__table > div > table > tr:nth-child(even) {
  background-color: #d1d4d4;
}
.basket__table > div > table > tr > td {
  padding: 5px;
  word-wrap: break-word;
}
.basket__table--trash-icon,
#trash-icon {
  color: rgb(241, 86, 86);
  cursor: pointer;
}
.basket__table--edit-icon {
  color: #1d4350;
  cursor: pointer;
}

.basket__table--align {
  padding: 5px 10px;
  display: flex;
  justify-content: space-around;
}
