.just__line {
  border-bottom: 1px solid #dedede;
  padding: 0%;
  width: 1000px;
}

.form__search {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 450px;
}

.radio__tipoCliente {
  font-size: 15px;
  margin-top: 10px;
}

.relatorio {
  border-bottom-width: 100%;
  float: left;
  font-size: 20px;
  padding: 25px;
  width: 66.66666%;
}

.relatorio__search--content {
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.relatorio__search--content i {
  font-size: 18px;
}

.relatorio__search--content h2 {
  font-size: 18px;
  font-weight: 600;
}

.relatorio__search--content h3, h4 {
  font-size: 16px;
  font-weight: 500;
}

.button__search {
  background-color: #1d4350;
  border: 0.5px solid #1d4350;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 35px;
  margin-top: 40px;
  width: 125px;
}

.button__export--pdf {
  background-color: #b61414;
  border: 0.5px solid #b61414;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  height: 35px;
  margin-left: 50px;
  margin-top: 40px;
  width: 125px;
}
