.form__search--veiculo {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 750px;
}

.form__search--proprietario {
  display: flex;
  margin-top: -12.5px;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 415px;
}
