.relatorio__search--results {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.relatorio__search--results > div {
  width: 100%;
}

.relatorio__search--results >div > table {
  table-layout: fixed;
  width: 100%;
}
.relatorio__search--results >div > table > tr{
  background-color: #f1f1f1;
  text-align: center;
}
.relatorio__search--results > div >table > thead{  
  background-color: #a5a5a5;
  color: #000000;
  font-size: 14px;
  font-weight: 200;
  width: 100%;
}

.relatorio__search--results > div >table > tr > td{
  font-size: 14px;
  padding: 5px;
  word-wrap: break-word;
}

#tabela__clientespf,
#tabela__clientespj,
#tabela__fornecedores,
#tabela__produtos,
#tabela__pecas,
#tabela__servicos,
#tabela__usuarios, #tabela__veiculospf, #tabela__veiculospj,
#table__produtos, #tabela__manutencoes {
  align-items: center;
  display: flexbox;
  justify-content: center;
  justify-items: center;
}

/* #tabela__clientespf,
#tabela__clientespj,
#tabela__fornecedores,
#tabela__produtos,
#tabela__pecas,
#tabela__servicos,
#tabela__usuarios, #tabela__veiculospf, #tabela__veiculospj,
#table__produtos thead {
  font-size: 14px;
  font-weight: 200;
  width: 100%;
}

#tabela__clientespf,
#tabela__clientespj,
#tabela__fornecedores,
#tabela__produtos,
#tabela__pecas,
#tabela__servicos,
#tabela__usuarios, #tabela__veiculospf, #tabela__veiculospj,
#table__produtos td {
  font-size: 14px;
} */

