.dashboard {
  display: flex;
  float: left;
  font-size: 20px;
  justify-content: center;
  margin-left: 65px;
  width: 66.66666%;
}

.dashboard img {
  height: 400px;
  margin-left: 50px;
  margin-top: 110px;
  position: absolute;
}

.dashboard__content {
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;

  border-bottom: 1px solid #dedede;
}

.dashboard__content i {
  font-size: 25px;
}

.dashboard__header {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: left;
  text-align: center;
}

h4 {
  font-size: 22px;
  font-weight: 600;
  margin-left: 12px;
}

.dasboard__paineis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 15px;
  width: 1000px;
}

.dashboard__paineis--default {
  border-radius: 12px;
  color: #fff;
  padding: 30px;
  margin-right: 5px;
  height: 125px;
  width: 275px;
}

#dashAberto {
  background-color: #494949;
}

#dashAndamento {
  background-color: #494949;
}

#dashRealizada {
  background-color: #494949;
}

.dashboard__paineis--default h3 {
  font-size: 16px;
  font-weight: 600;
  height: 20px;
}

.dashboard__chart--graph {
  max-width: 500px;
}

.dashboard__chart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-left: 50px;
  width: 1000px;
}
.dashboard__chart--graph {
  background-color: #fff;
  border: 7px solid #dedede;
  border-width: 1px;
}
